<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver">　会員情報編集　</span></h4>
  </div>
  <div class="row ml-n5">
    <div class="col-7">
      <%= form_with model: @customer do |f| %>
      <table class="table table-borderless table-sm">
        <tr>
          <th style="width:25%"><%= f.label :氏名%></th>
          <td style="width:15%"><%= f.text_field :last_name%></td>
          <td style="width:15%"><%= f.text_field :first_name%></td>
          <td style="width:20%"></td>
        </tr>
        <tr>
          <th><%= f.label :フリガナ%></th>
          <td><%= f.text_field :last_name_kana%></td>
          <td><%= f.text_field :first_name_kana%></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :電話番号%></th>
          <td><%=f.telephone_field :telephone_number%></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :住所%></th>
          <td colspan="3"><%=f.text_field :address,size:60%></td>
        </tr>
        <tr>
          <th><%= f.label :郵便番号%></th>
          <td><%=f.text_field :postal_code%></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email%></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "　　　編集内容を保存　　　",class:"btn btn-success btn-sm" %></td>
          <td></td>
          <td><%= link_to "　退会する　", unsubscrib_customer_path(current_customer.id),class:"btn btn-danger btn-sm" %></td>
        </tr>
      </table>
    </div>
    <% end %>
  </div>
</div>