<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver">　マイページ　</span></h4>
  </div>
</div>
<div class="ml-5">
  <p>登録情報</p><%= link_to "編集する", edit_customers_path,class:"btn btn-success" %>
  <table>
    <tr>
      <td><p>氏名</p></td>
      <td><P><%= current_customer.last_name %><%= current_customer.first_name %></P></td>
    </tr>
    <tr>
      <td><p>カナ</p></td>
      <td><p><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></p></td>
    </tr>
    <tr>
      <td><p>郵便番号</p></td>
      <td><p><%= current_customer.postal_code %></p></td>
    </tr>
    <tr>
      <td><p>住所</p></td>
      <td><p><%= current_customer.address %></p></td>
    </tr>
    <tr>
      <td><p>電話番号</p></td>
      <td><p><%= current_customer.telephone_number %></p></td>
    </tr>
    <tr>
      <td><p>電話番号</p></td>
      <td><p><%= current_customer.email %></p></td>
    </tr>
  </table>
  <p>配送先</p>
  <%= link_to "一覧を見る",addresses_path,class:"btn btn-primary"%>
  <p>注文履歴</p>
  <%= link_to "一覧を見る",orders_path,class:"btn btn-primary"%>
</div>


