<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver">商品一覧</span></h4>
  </div>
    <div class= "row">
      <table class="table table-borderless">
        <tr class="thead-light">
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
    <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td>
            <%= link_to admin_item_path(item.id),class:"text-dark" do %>
              <u><%= item.name %></u>
            <%end%>
          </td>
          <td><%= item.price.to_s(:delimited) %></td>
          <td><%= item.genre.name %></td>
          <td><% if item.is_active %><p class="text-success"><strong>販売中</strong></p><% else %><p class="text-black-50"><strong>販売停止中</strong></p><% end %></td>
        </tr>
    <% end %>
      </table>
    </div>
    <%= paginate @items%>



    <%#= item.introduction %>
    <%#= link_to "編集する", edit_admin_genre_path(genre),class:"btn btn-success" %>
</div>
