<div class="container">
  <div class="row mb-5">
    <div class="col-2 border">
      <p class="border-bottom">ジャンル検索</p>
      <table>
          <% @genres.each do |genre|%>
        <tr>
          <td><%= link_to genre.name,items_path(genre_id: genre.id),class:"text-secondary"%></td>
        </tr>
        <% end %>
      </table>
    </div>
    <div class="col-10 pl-5">
      <div class="row bg-warning">
        <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトでは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧は出来ますが、<br>
        購入には会員登録が必要になります。
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <% if params[:genre_id]%>
        <h3><%= @item.genre.name%>一覧</h3><br>
        <div class="d-flex flex-wrap justify-content-start">
        <% @items.each do |item|%>
          <div>
            <% if item.image.attached?%>
              <%= link_to item_path(item.id) do%>
                <%= image_tag item.image,size:"200x150"%>
              <% end %>
            <% else %>
              <%= link_to item_path(item.id) do%>
                <%= image_tag 'no_image',size:"200x150"%>
              <% end %>
            <% end %><br>
            <%= item.name%>
            <p>¥<%= item.price.to_s(:delimited)%></p>
          </div>
        <% end %>
        </div>
        <%= paginate @items%>
      <% else %>
        <div class="pl-4 d-flex flex-column">
          <h3>新着商品</h3>
          <div class="d-flex flex-wrap justify-content-start">
          <% @items.each do |item|%>
          <div>
            <% if item.image.attached?%>
              <%= link_to item_path(item.id) do%>
                <%= image_tag item.image,size:"200x150"%>
              <% end %>
            <% else %>
              <%= link_to item_path(item.id) do%>
                <%= image_tag 'no_image',size:"200x150"%>
              <% end %>
            <% end %><br>
            <%= item.name%>
            <p>¥<%= item.price.to_s(:delimited)%></p>
          </div>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col clearfix">
      <div class="float-right test-box"><u><%= link_to "全ての商品を見る>",items_path %></u></div>
    </div>
  </div>
</div>