<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver"><strong><%= @customer.last_name%><%= @customer.first_name%></strong>さんの<strong>会員情報編集</strong></span></h4>
  </div>
  <div class="row">
    <div class="col-10">
      <%= form_with model: [:admin,@customer] do |f| %>
      <table>
        <tr>
          <th><div>会員ID</div></th>
          <td><div class="ml-5"><%= @customer.id %></div></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><div><%= f.label :氏名 %></div></th>
          <td><div class="ml-5"><%= f.text_field :last_name %></div></td>
          <td><div><%= f.text_field :first_name %></div></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :フリガナ %></th>
          <td><div class="ml-5"><%= f.text_field :last_name_kana %></div></td>
          <td><div><%= f.text_field :first_name_kana %></div></td>
          <td></td>
        </tr>
        <tr>
          <th><div><%= f.label :郵便番号 %></div></th>
          <td><div class="ml-5"><%= f.text_field :postal_code %></div></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><div><%= f.label :住所 %></div></th>
          <td colspan="3"><div class="ml-5"><%= f.text_field :address,size:55 %></div></td>
        </tr>
        <tr>
          <th><div><%= f.label :電話番号 %></div></th>
          <td><div class="ml-5"><%= f.text_field :telephone_number %></div></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><div><%= f.label :メールアドレス%></div></th>
          <td><div class="ml-5"><%= f.text_field :email %></div></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><div><%= f.label :販売ステータス%></div></th>
          <td>
            <diV class="ml-5">
              <%= f.radio_button :is_active,"false"%>
              <%= f.label :is_active,"有効",value:"false"%>
              <%= f.radio_button :is_active,"true"%>
              <%= f.label :is_active,"退会",value:"true"%>
            </diV>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th></th>
          <td>
            <%= f.submit '変更を保存',class:"btn btn-success ml-5"%>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>