<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver">会員一覧</span></h4>
  </div>
    <div class= "row">
      <table class="table table-borderless">
        <tr class="thead-light">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
    <% @customer.each do |customer| %>
        <tr>
          <td><%= customer.id %></td>
          <td>
            <%= link_to admin_customer_path(customer.id),class:"text-dark" do %>
              <u><%= customer.last_name %><%= customer.first_name %></u>
            <% end %>
          </td>
          <td><%= customer.email %></td>
          <td>
            <% if customer.is_active %>
              <p class="text-black-50"><strong>退会</strong></p>
            <% elsif %>
              <p class="text-success"><strong>有効</strong></p>
            <% end %>
          </td>
        </tr>
    <% end %>
      </table>
    </div>

    <%#= item.introduction %>
    <%#= link_to "編集する", edit_admin_genre_path(genre),class:"btn btn-success" %>
</div>
