<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver">　配送先編集　</span></h4>
  </div>

  <div class="ml-n5">
    <div class="col-12 ml-n5 mb-5">
      <%= form_with model: @address do |f| %>
      <table>
        <tr>
          <th style="width:25%"><%= f.label :郵便番号（ハイフンなし） %></th>
          <td style="width:25%"><%= f.text_field :postal_code,size:25%></td>
          <td style="width:25%"></td>
          <td style="width:25%"></td>
        </tr>
        <tr>
          <th><%= f.label :住所 %></th>
          <td colspan="2"><%= f.text_field :address,size:70%></td>
          <td></td>
        </tr>
        <tr>
          <th><%= f.label :宛名 %></th>
          <td><%= f.text_field :name,size:25%></td>
          <td></td>
          <td><%= f.submit "　 変更内容を保存 　",class:"btn btn-success btn-sm bl-n5"%></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>