<div class="container">
  <div class="row">
    <div class="col-8">
      <h4 class="mb-1"><span class="bg-silver">　ショッピングカート　</span></h4>
    </div>
    <div class="col-2">
      <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete,class: "btn btn-danger btn-sm mb-2 ml-4" %>
    </div>
  </div>
  <div class="row">
    <div class="col-10">

      <table class="table table-bordered">
        <tr class="table-active">
          <th style="width:40%">商品名</th>
          <th style="width:15%">単価（税込）</th>
          <th style="width:15%">数量</th>
          <th style="width:15%">小計</th>
          <th style="width:15%"></th>
        </tr>
          <% total = 0%>
          <% if current_customer.cart_items.present?%>
            <% @cart_items.each do |cart_item|%>
          <tr>
            <td class="align-middle" >
              <% if cart_item.item.image.attached?%>
                <%=image_tag cart_item.item.image, size:"50x40" %>
              <% else %>
                <%=image_tag 'no_image',size:"50x40"%>
              <% end %>
              <strong class="ml-3"><%= cart_item.item.name %></strong>
            </td>
            <td class="align-middle" ><%= (cart_item.item.price*1.10).round.to_s(:delimited) %></td>
            <td class="text-center" >
              <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
              <%= f.number_field :amount, min: 1, max:20 ,id: "amount_cart"%>
              <%= f.submit "変更",class: "btn btn-success btn-sm" %>
              <% end %>
            </td>
            <td class="align-middle" >
              <% subtotal = ((cart_item.item.price*1.10)*(cart_item.amount)).to_i %>
              <%= subtotal.round.to_s(:delimited) %>
            </td>
            <td class="text-center" ><%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete,class: "btn btn-danger btn-sm" %></td>
          </tr>
            <% total+=subtotal %>
            <% end %>
          <% end %>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-7 d-flex align-items-center">
      <%= link_to "　買い物を続ける　", items_path,class: "btn btn-primary btn-sm ml-5" %>
    </div>
    <div class="col-3">
      <table class="table table-bordered">
        <tr>
          <th class="table-active">合計金額</th>
          <td><%= total.round.to_s(:delimited) %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <%= link_to "　情報入力に進む　",new_order_path,class:"btn btn-success"%>
    </div>
    <%#= form_with model: @order_detail,url: do |f|%>
    <%#= f.hidden_field :item_id, :value => cart_item.item.id %>
    <%#= f.hidden_field :price, :value => cart_item.amount %>
    <%#= f.submit '情報入力に進む',class:"btn btn-success"%>
    <%# end %>
  </div>
</div>