<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver">　注文履歴詳細　</span></h4>
  </div>

  <div class="row ml-n5">
    <div class="col-6 ml-n5">
      <p><strong>注文情報</strong></p>
      <table class="table table-bordered">
        <tr>
          <th class="table-active" style="width:25%">注文日</th>
          <td style="width:75%"><%= @order.created_at.to_s(:datetime_jp1)%></td>
        </tr>
        <tr>
          <th class="table-active" class="align-middle">配送先</th>
          <td class="align-middle py-0">
            <%= '〒'+@order.postal_code%><br>
            <%= @order.address%><br>
            <%= @order.name%>
          </td>
        </tr>
        <tr>
          <th class="table-active" class="align-middle">支払方法</th>
          <td class="align-middle"><%= @order.payment_method_i18n%></td>
        </tr>
        <tr>
          <th class="table-active" class="align-middle">ステータス</th>
          <td class="align-middle"><%=@order.status_i18n%></td>
        </tr>
      </table>
    </div>
    <div class="col-3">
      <p><strong>請求情報</strong></p>
      <table class="table table-bordered">
        <tr>
          <th class="table-active">合計金額</th>
          <td><%= @order.total_payment.round.to_s(:delimited)%></td>
        </tr>
        <tr>
          <th class="table-active">配送料</th>
          <td><%= @order.shipping_cost%></td>
        </tr>
        <tr>
          <th class="table-active">ご請求額</th>
          <td><%=(@order.total_payment + @order.shipping_cost).round.to_s(:delimited)%></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row ml-n5">
    <div class="col-8 ml-n5">
      <p><strong>注文内容</strong></p>
      <table class="table table-bordered">
        <tr class="table-active">
          <th style="width:60%">商品</th>
          <th style="width:18%">単価（税込）</th>
          <th style="width:11%">個数</th>
          <th style="width:11%">小計</th>
        </tr>
        <% @order_details.each do |order_detail|%>
        <tr>
          <td><%= order_detail.item.name%></td>
          <td><%= (order_detail.price*1.10).round.to_s(:delimited)%></td>
          <td><%= (order_detail.amount).round.to_s(:delimited)%></td>
          <td><%= ((order_detail.price*1.10)*(order_detail.amount)).round.to_s(:delimited)%></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>