<div class="container">
  <div class="row">
    <h4 class="mb-5"><span class="bg-silver">　ログイン　</span></h4>
  </div>
  <div class="row">
    <p class="bg-silver">　会員の方はこちらからログイン　</p><br>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-8 mx-auto">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <table class="table table-borderless table-sm">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <td><%= f.email_field :email,size:45, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
        </tr>
        <tr>
          <th><%= f.label :パスワード %></th>
          <td><%= f.password_field :password,size:45, autocomplete: "current-password" %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit "ログイン", class:"btn btn-primary"%></td>
        </tr>
      </table>
      <% end %>
    </div>
    <div class="col-3"></div>
  </div>
  <div class="row">
    <p class="bg-silver">　会員登録がお済みでない方　</p>
  </div>
  <div class="row">
    <div class="col-10 mx-auto">
      <p><u><%= link_to "こちら",new_customer_registration_path%></u>　から新規登録を行ってください</p>
    </div>
  </div>
</div>






