<div class="container">
  <div class="row">
    <div class="col-2">
      <table class="border table_sticky">
        <thead class="border-bottom">
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <% @genres.each do |genre|%>
        <tbody>
          <tr>
            <td><%= link_to genre.name,items_path(genre_id: genre.id),class:"text-secondary"%></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
    <div class="col-10">
      <% if params[:genre_id]%>
        <div class="d-flex">
          <div><h3><%= @item.genre.name%>一覧</h3></div>
          <div><p>（全<%= Item.where(genre_id: params[:genre_id]).count%>件）</p></div>
        </div>
        <div class="d-flex flex-wrap justify-content-start">
        <% @items.each do |item|%>
          <div>
            <% if item.image.attached?%>
              <%= link_to item_path(item.id) do%>
                <%= image_tag item.image,size:"200x150"%>
              <% end %>
            <% else %>
              <%= link_to item_path(item.id) do%>
                <%= image_tag 'no_image',size:"200x150"%>
              <% end %>
            <% end %><br>
            <%= item.name%>
            <p>¥<%= item.price.to_s(:delimited)%></p>
          </div>
        <% end %>
        </div>
        <%= paginate @items%>
      <% else %>
        <div class="d-flex">
          <div><h3>商品一覧</h3></div>
          <div><p>（全<%= Item.all.count%>件）</p></div>
        </div>
        <div class="d-flex flex-wrap justify-content-start">
        <% @items.each do |item|%>
          <div class="ml-3">
            <% if item.image.attached?%>
              <%= link_to item_path(item.id) do%>
                <%= image_tag item.image,size:"200x150"%>
              <% end %>
            <% else %>
              <%= link_to item_path(item.id) do%>
                <%= image_tag 'no_image',size:"200x150"%>
              <% end %>
            <% end %><br>
            <%= item.name%>
            <p>¥<%= item.price.to_s(:delimited)%></p>
          </div>
        <% end %>
        </div>
        <div>
          <%= paginate @items%>
        </div>
      <% end %>
    </div>
  </div>
</div>